<div platform>

    <!-- This is our Header, with the web apps drop down -->
    <header [hidden]="!userIsLoggedIn">
        <div>
                <img src="./assets/icons/MGLogo.png" style="display: inline-block;vertical-align: top; margin-right:20px" height="132"/>
                <span style="display:inline-block;padding-left:40px ">
                    <label class="fieldPromptBold" style="font-size:32pt;">Welcome {{currentUser}}</label>
                    <br/>
                    <nav>
                        <a *ngFor="let menuItem of menuList" (click)="openApp(menuItem)" [hidden]="menuItem.hideMenu">{{menuItem.title}}</a>
                        <a (click)="doLogin();" style="padding-left:50px;">Logout</a>
                    </nav>
                </span>
 

        </div>

    </header>
 
  <router-outlet></router-outlet>

    <div [hidden]="!userIsLoggedIn" style="position:absolute; bottom:2px; left:5px;">
        <label>This product uses the <a href="https://www.themoviedb.org/" target="_blank">TMDb</a> API but is not endorsed or certified by <a href="https://www.themoviedb.org/" target="_blank"><img src="https://www.themoviedb.org/assets/static_cache/2dceae11589334eecd61443249261daf/images/v4/logos/208x226-stacked-green.png" width="32"></a></label>
    </div>
</div>