
<preferencepanel pageTitle="Recommendations">
        <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1" horizontalAlignment="center"
            verticalAlignment="center" class="activity-indicator" style="color: red;"></ActivityIndicator>

        <GridLayout rows="*,auto" [visibility]="(isLoading || isComplete) ? 'collapse' : 'visible'" marginTop="5">
            <StackLayout row="0" verticalAlignment="center" horizontalAlignment="center">
                <Image [src]='currentFeature.FullResPosterURL' (tap)="gotoJustWatch()"></Image>
            </StackLayout>

            <GridLayout rows="auto,*,auto,auto" row="0" (longPress)="gotoJustWatch()" (onSwipe)="onSwipe($event)">
                <StackLayout row="0" verticalAlignment="center" horizontalAlignment="center">
                    <Label [text]="thumbsUp" class="icon" (tap)="rateThis(3)"></Label>
                </StackLayout>

                <DockLayout columns="auto,*,auto" row="1" verticalAlignment="center" marginLeft="5" marginRight="5">
                    <Label dock="left" [text]="arrow" class="icon" (tap)="nextFeature()"></Label>
                    <Label dock="right" [text]="loveIt" class="icon" (tap)="rateThis(5)" horizontalAlignment="right"></Label>
                </DockLayout>

                <StackLayout row="2" verticalAlignment="center" horizontalAlignment="center" marginBottom="5">
                    <Label [text]="thumbsDown" class="icon" (tap)="rateThis(1)"></Label>
                </StackLayout>

                <DockLayout columns="auto,*,auto" row="3" verticalAlignment="center" marginBottom="10">
                    <Label dock="left" [text]="currentFeature.IMDBTitle + ' (' + currentFeatureScore() + ')'" textWrap="true" color="white"></Label>
                    <Image dock="right" *ngIf="onNetflixURL != ''" src="~/assets/icons/netflix.jpeg" width="32" height="32" horizontalAlignment="right" marginRight="5"  (tap)="gotoService('Netflix')"></Image>                    
                    <Image dock="right" *ngIf="onAmazonURL != ''" src="~/assets/icons/amazon.jpeg" width="32" height="32" horizontalAlignment="right" marginRight="5"  (tap)="gotoService('Amazon')"></Image>                    
                    <Image dock="right" *ngIf="onHBOGOURL != ''" src="~/assets/icons/hbo-go.jpeg" width="32" height="32" horizontalAlignment="right" marginRight="5"  (tap)="gotoService('HBOGO')"></Image>                    
                    <Image dock="right" *ngIf="onHBONowURL != ''" src="~/assets/icons/hbo-now.jpeg" width="32" height="32" horizontalAlignment="right" marginRight="5"  (tap)="gotoService('HBONow')"></Image>                    
                    <Image dock="right" *ngIf="onFandangoURL != ''" src="~/assets/icons/fandango.jpeg" width="32" height="32" horizontalAlignment="right" marginRight="5"  (tap)="gotoService('Fandango')"></Image>                    
                </DockLayout>
            </GridLayout>
            <!--
                    <StackLayout row="1"  orientation="horizontal" marginTop="5" horizontalAlignment="center">
                        <Button text="View List" (tap)="showList()" class="btn btn-outline btn-active btn-rounded-lg" width="200"></Button>
                    </StackLayout>
            -->
        </GridLayout>

        <StackLayout verticalAlignment="center" horizontalAlignment="center" padding="20" marginTop="50">
            <Label text="You've reached the end of the Recommendations List. You can start over by selecting an option from the Menu above." textWrap="true"></Label>
            
        </StackLayout>
</preferencepanel>
