<web-application>
    <div class="container" style="height: calc(100% - 20px)">
        <div class="row" style="padding-left:10px;">
            <h4>Here is a list of Recommended Features.<br/>For each picture, if you have seen it please give it 1-5 stars,<br/>or if you have not seen it, leave it on your recommendation list.</h4>
            <h4>Recommended for you based on: <span style="color: red">{{currentRecommendation}}</span>
                <span style="margin-left:20px;">
                    <button style="width: 240px; font-style: italic;" (click)="useCurated()" [hidden]="showCuratedList">Select a Curated Profile</button>
                    <select (change)='selectCurated($event.target.selectedIndex)' [hidden]="!showCuratedList">
                        <option *ngFor='let item of curatedProfiles' value='{{item.Name}}' [selected]='(item.Name === profileName)?"selected":""'>{{item.Name}}</option>
                    </select>
               </span>
            </h4>
        </div>
        
        <hr style="margin-top:0;width:1080px;" />
        
        <div style="display:block;float:left;width:1080px;height:calc(100% - 160px);padding-top:15px;overflow:scroll;">
            <fieldset *ngFor="let currentFeature of controlList.models" class="product">
                <label style="text-overflow:ellipsis;font-size: 16px !important; height:47px; color:#0076db" (click)="showMovieSite(currentFeature.TMDBID)">{{currentFeature.IMDBTitle}}</label>
                <img src="http://www.vakeano.com/4DAction/REST_GetWebImage?image={{currentFeature.PosterURL}}" alt="Image preview" (click)="showMovieSite(currentFeature.TMDBID)"/>
                
                <div  class="rating">
                    <input type="radio" name="{{'rating'+currentFeature.FeatureID}}" value="5"/><label title="Rocks!" (click)="rateThis(currentFeature,5)">5 stars</label>
                    <input type="radio" name="{{'rating'+currentFeature.FeatureID}}" value="4"/><label title="Pretty good" (click)="rateThis(currentFeature,4)">4 stars</label>
                    <input type="radio" name="{{'rating'+currentFeature.FeatureID}}" value="3"/><label title="Meh" (click)="rateThis(currentFeature,3)">3 stars</label>
                    <input type="radio" name="{{'rating'+currentFeature.FeatureID}}" value="2"/><label title="Kinda bad" (click)="rateThis(currentFeature,2)">2 stars</label>
                    <input type="radio" name="{{'rating'+currentFeature.FeatureID}}" value="1"/><label title="Sucks big time" (click)="rateThis(currentFeature,1)">1 star</label>
                    <a role="button" class="jw-icon" style="background-size: 24px; height: 24px;width: 24px;float:right;margin-right:20px;" *ngIf="currentFeature.JustWatchID != ''" (click)="showJustWatch(currentFeature.JustWatchID)" title="show JustWatch page for this title"></a>
                </div>
                <p (click)="showMovieSite(currentFeature.TMDBID)"><span class="formHeaderSmall" style="color:red;">Predicted Score: {{currentFeature.MGPVR}}</span><br/>
                    CCI: {{currentFeature.MGCCI}}<br/>
                    EQI: {{currentFeature.MGEQI}}<br/>
                    PAI: {{currentFeature.MGPAI}}<br/>
                    PEI: {{currentFeature.MGPEI}}<br/>
                    NQI: {{currentFeature.MGNQI}}<br/>
                   <br/><span class="formHeaderSmall" style="color:red;">Theme:</span><br/>
                    <span [innerHTML]="cleanUpText(currentFeature.Feedback_Theme)"></span>
                    <br/><span class="formHeaderSmall" style="color:red;">Narrative:</span><br/>
                    <span [innerHTML]="cleanUpText(currentFeature.Feedback_Narrative)"></span><br/>
                    <br/><span class="formHeaderSmall" style="color:red;">Content:</span><br/>
                    <span [innerHTML]="cleanUpText(currentFeature.Feedback_Content)"></span><br/>
                    <br/><span class="formHeaderSmall" style="color:red;">Execution:</span><br/>
                    <span [innerHTML]="cleanUpText(currentFeature.Feedback_Execution)"></span><br/>
                    <br/><span class="formHeaderSmall" style="color:red;">Style:</span><br/>
                    <span [innerHTML]="cleanUpText(currentFeature.Feedback_Style)"></span>
                </p>
            </fieldset>
		</div>

    </div>
</web-application>