<div style="height:520px;">
    <div class="formPanel" style="height:100%">
        <fieldset class="titledGroupBox">
            <legend class="formHeaderSmall">Series<button class="regularButton" style="margin-left:20px;width:140px;" (click)="queryTMDB()" [disabled]="!currentRecord.IMDBTitle || currentRecord.IMDBTitle == ''">Query TMDB Data</button></legend>
            <span>
                <label class="fieldPromptBold">Series Title</label>
                <input type="text" class="fieldEntry" size="60" [(ngModel)]="currentRecord.IMDBTitle" />
            </span>
            <span>
                <label class="fieldPromptBold">IMDB ID</label>
                <input type="text" class="fieldEntry" [(ngModel)]="currentRecord.IMDBID"  size="12"/>
            </span>
            <br/>
            <span>
                <label class="fieldPromptBold">Production Title</label>
                <input type="text" class="fieldEntry" size="80" [(ngModel)]="currentRecord.ProductionTitle" />
            </span>
        </fieldset>

        <fieldset class="titledGroupBox">
            <legend class="formHeaderSmall">JustWatch & TMDB Info</legend>
            <span>
                <label class="fieldPromptBold">JustWatch ID</label>
                <input type="text" class="fieldEntry" [(ngModel)]="currentRecord.JustWatchID"  size="12"/>
            </span>
            <span style="padding-left:16px;">
                <label class="fieldPromptBold">TMDB ID</label>
                <input type="text" class="fieldEntry" [(ngModel)]="currentRecord.TMDBID"  size="12"/>
            </span>
                <!-- <button class="regularButton" style="margin-left:20px;width:160px;" (click)="queryJustWatch()" [disabled]="!currentRecord.IMDBTitle || currentRecord.IMDBTitle == '' || !currentRecord.ProdYear || currentRecord.ProdYear == 0">&lt;== Get JustWatch ID</button> -->
            <span style="padding-left:20px;" [hidden]="!currentRecord.TMDBID || currentRecord.TMDBID == ''">
                <a role="button" (click)="showMovieSite()" title="go to movie site" (mouseenter)="showPoster($event)" (mouseleave)="hidePoster($event)"><img id="movieicon" [src]="tmdb.iconURL" height="32px"/></a>
            </span>
            <span style="padding-left:20px;" [hidden]="!currentRecord.TMDBID || currentRecord.TMDBID == ''">
                <a role="button" (click)="showTMDB()" ><span class="tmdb-icon" title="go to TMDB"></span></a>
            </span>
            <span style="padding-left:20px;" [hidden]="!currentRecord.JustWatchID || currentRecord.JustWatchID == ''">
                <a role="button" (click)="showJW()" ><span class="jw-icon" title="go to JustWatch"></span></a>
            </span>
            <span style="padding-left:20px;">
                <a role="button" [hidden]="onNetFlixURL == ''" (click)="showNetflix()"><span class="netflix-icon" title="show Netflix"></span></a>
                <a role="button" [hidden]="onAmazonURL == ''" (click)="showAmazon()"><span class="amazon-icon" title="show Amazon"></span></a>
                <a role="button" [hidden]="onHBOGOURL == ''" (click)="showHBOGO()"><span class="hbogo-icon" title="show HBO GO"></span></a>
                <a role="button" [hidden]="onHBONowURL == ''" (click)="showHBONow()"><span class="hbonow-icon" title="show HBO Now"></span></a>
                <a role="button" [hidden]="onFandangoURL == ''" (click)="showFandango()"><span class="fandango-icon" title="show Fandango"></span></a>
            </span>
        </fieldset>

        <hr style="margin:0;" />

        <tabs class="nav nav-tabs">
            <tab [title]="'Series Info'" style="height:475px">
                <series-info [record]="currentRecord" [tmdb]="tmdb"></series-info>
            </tab>

            <tab [title]="'Edit Profile'" style="height:475px" *ngIf="currentRecord.isRecordLoaded()">
                <series-profile [record]="currentRecord"></series-profile>
            </tab>

            <tab [title]="'Profile Records'" style="height:475px" *ngIf="currentRecord.isRecordLoaded()">
                <seriescontentprofile-info [record]="currentRecord"></seriescontentprofile-info>
            </tab>

        </tabs>
    </div>

    <div class="buttonBar">
        <button class="regularButton" style="margin-left:20px;width:90px;" (click)="saveRecord()" [disabled]="!currentRecord.recordIsDirty()">SAVE</button>
    </div>
</div>